<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Adventure Game</title>
    <link rel="stylesheet" href="Mygame2.css">
    <script src="Mygame2.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>


<body>

<div id="game">
    <div id="map" style="width: 600px; height: 400px;"></div>
    <div onclick="startGame()">
        <img id="airplane_img" src="../vanha/airplane.png" alt="Airplane Image">


        <div class´="movementbutton">
            <button id="moveUp">Up</button>
            <button id="moveDown">Down</button>
            <button id="moveLeft">Left</button>
            <button id="moveRight">Right</button>
        </div>d
        <button id="startFlight()">Start Flight</button>
        <button id="completeMission()">Complete Mission</button>
        <button id="returnToStart()">Return to Start</button>
        <div id="fuel">Fuel: 100%</div>
        <div id="mission">Mission: Explore The Ocean</div>
        <div id="steps"> <h3>Steps Taken:</h3>
            <ul id="stepList"> </ul>
        </div>
    </div>
    </div>


</body>
</html>

























